# Simpsons Paradox
- How the overall trend can reverse when the data is stratified across two groups

In [12]:
import pandas as pd
import numpy as np

np.random.seed(42)

# Sample sizes
n_new_old = 1800
n_return_old = 200

n_new_new = 200
n_return_new = 1800

# Conversion rates (new onboarding is better for BOTH groups)
conv_new_old = 0.05
conv_new_new = 0.06

conv_return_old = 0.30
conv_return_new = 0.32

data = []

# Old onboarding
data += [("old", "new_user", np.random.binomial(1, conv_new_old)) for _ in range(n_new_old)]
data += [("old", "returning_user", np.random.binomial(1, conv_return_old)) for _ in range(n_return_old)]

# New onboarding
data += [("new", "new_user", np.random.binomial(1, conv_new_new)) for _ in range(n_new_new)]
data += [("new", "returning_user", np.random.binomial(1, conv_return_new)) for _ in range(n_return_new)]

df = pd.DataFrame(data, columns=["onboarding", "user_type", "converted"])
df.head()

  onboarding user_type  converted
0        old  new_user          0
1        old  new_user          1
2        old  new_user          0
3        old  new_user          0
4        old  new_user          0

In [13]:
df.groupby(["onboarding", "user_type"])["converted"].mean().unstack()

user_type   new_user  returning_user
onboarding
new         0.050000        0.310556
old         0.052778        0.320000

In [15]:
# Old onboarding appears better for both user types

In [14]:
df.groupby("onboarding")["converted"].mean()

onboarding
new    0.2845
old    0.0795
Name: converted, dtype: float64

In [16]:
# When looking overall, it appears the new onboarding is way better

## Learnings
- The new onboarding changed the user mix
- Even though the new onboarding looked bad overall, it helped in each group
- These are learnings, depending on the decision being made, you can provide all this evidence, then lean towards which conclusion best supports the decision.